<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>fabflix</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.fabflix.log.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.fabflix.log.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.fabflix.home.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrowseGenre</servlet-name>
    <servlet-class>com.fabflix.browse.BrowseGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseGenre</servlet-name>
    <url-pattern>/browsegenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrowseTitle</servlet-name>
    <servlet-class>com.fabflix.browse.BrowseTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseTitle</servlet-name>
    <url-pattern>/browsetitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuickSearch</servlet-name>
    <servlet-class>com.fabflix.search.QuickSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuickSearch</servlet-name>
    <url-pattern>/quicksearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvanceSearch</servlet-name>
    <servlet-class>com.fabflix.search.AdvanceSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvanceSearch</servlet-name>
    <url-pattern>/advancesearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleMovie</servlet-name>
    <servlet-class>com.fabflix.single.SingleMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleMovie</servlet-name>
    <url-pattern>/singlemovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleStar</servlet-name>
    <servlet-class>com.fabflix.single.SingleStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleStar</servlet-name>
    <url-pattern>/singlestar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.fabflix.shopping.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>com.fabflix.shopping.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReadMe</servlet-name>
    <servlet-class>com.fabflix.report.Readme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadMe</servlet-name>
    <url-pattern>/reports/readme</url-pattern>
  </servlet-mapping>
  <servlet>
  
    <servlet-name>LikePredicate</servlet-name>
    <servlet-class>com.fabflix.report.Likepredicate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikePredicate</servlet-name>
    <url-pattern>/reports/like-predicate</url-pattern>
  </servlet-mapping>
</web-app>